/*Positions*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*Top Bar*/
.top_bar {
    display: flex;
    justify-content: space-between;
    line-height: 60px;
    position: sticky;
}

.top_bar .logo {
    position: relative;
    left: 32px;
}

.top_bar .nav_menu {
    position: relative;
    right: 32px;
}

.top_bar .nav_menu li {
    display: inline-block;
    margin: 0 20px;
}

.form_color {
    display: flex;
}

.form_color input {
    margin: auto;
}


/*Styles*/
body {
    background-color: black;
}

.top_bar {
    font-family: "Madimi One", sans-serif;
    background-color: white;
    border: 1px solid black;
}

.nav_menu li {
    list-style-type: none;
}


/*Links*/
.link {
    text-decoration: none;
    color: black;
}

.nav_menu .link {
    padding-bottom: 6px;
}

.nav_menu .link:hover,
.active {
    border-bottom: 2px solid black;
}


/*Media Queries*/
@media (min-width:684px) {
    .top_bar .logo {
        font-size: 24px;
    }

    .nav_menu ul {
        font-size: 18px;
    }
}